.akasha-page {
  background-color: white;
  color: #7E001B;
  padding: 40px;
  text-align: center;

  h1 {
    font-size: 50px;
    color: #b59646;
    margin: 20px auto;
    margin-bottom: 40px;
  }

  .akasha-container {
    border-radius: 15px;
    overflow: hidden;
    background: white;
    box-shadow: 1px 1px 15px #b59646;
    margin: 30px auto 0 auto;
    padding: 30px;
    width: 80%;
    margin-bottom: 50px;

    h2, h3, p {
      margin-bottom: 10px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      margin-top: 30px;
      font-size: 24px;
    }

    ul {
      font-size: 22px;
      list-style-position: inside;
      margin-bottom: 20px;
    }

    p {
      font-size: 26px;
    }

    .price-box {
      display: flex;
      flex-direction: column;

      .price-icon {
        color: #b59646;
        font-size: 34px;
        margin-top: 30px;
      }

      p {
        margin: 15px auto;
      }
    }
  }
}
