$dark-pink: #7E001B;
$gold: #b59646;
$light-pink: #FFCCD1;
$padding-default: 50px;
$max-width: 1200px;

.akasha-page {
  color: $dark-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  line-height: 1.6;

  h1 {
    font-size: 50px;
    color: $gold;
    margin: 20px auto 40px;
  }

  #top-section {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 30px 40px 0;

    .content {
      display: flex;
      width: 100%;
      height: 100%;

      img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: $padding-default;
        width: 50%;
      }
    }
  }

  .pink-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light-pink;
    padding: 0 150px 70px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
  }

  .white-background {
    padding: 10px 150px 70px 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    max-width: $max-width;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
    margin: 20px 0;
  }

  p {
    font-size: 26px;
    margin-bottom: 10px;
  }

  ul {
    font-size: 24px;
    list-style-position: inside;
    margin: 10px 0 40px;
  }

  .price-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 15px $gold;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    position: absolute;
    bottom: 120px;

    .price-icon {
      color: $gold;
      font-size: 40px;
      margin-top: 30px;
    }

    p {
      margin: 15px auto;
    }
  }
}

@media (max-width: 1024px) {
  .akasha-page {
    h1 {
      font-size: 40px;
    }

    #top-section {
      flex-direction: column;
      height: auto;
      padding: 20px;

      .content {
        flex-direction: column;

        img {
          width: 100%;
          height: auto;
        }

        .content-text {
          width: 100%;
          padding: 30px;
        }
      }
    }

    .pink-background,
    .white-background {
      padding: $padding-default;
      height: auto;
    }

    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 22px;
    }

    .price-box {
      position: relative;
      bottom: auto;
      margin-top: 30px;
    }
  }
}

@media (max-width: 768px) {
  .akasha-page {
    h1, h2, h3 {
      text-align: center;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 26px;
    }

    ul {
      font-size: 20px;
    }

    p {
      font-size: 18px;
    }

    .price-box {
      width: 90%;
      padding: 10px;
    }
  }
}
