.coaching-page {
  background-color: white;
  color: #7E001B;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 50px;
    margin: 20px auto;
    margin-bottom: 40px;
    color: #b59646;
  }

  .coaching-container {
    border-radius: 15px;
    overflow: hidden;
    background: white;
    box-shadow: 1px 1px 15px #b59646;
    height: auto;
    padding: 50px;
    margin: 0 50px;

    h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }

    h3 {
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 30px;
    }

    p {
      font-size: 26px;
      margin-bottom: 15px;
    }

    ul {
      font-size: 22px;
      list-style-position: inside;
      margin-bottom: 20px;

      li {
        margin-bottom: 8px;
      }
    }

    .actioncall {
      margin-top: 40px;
      margin-bottom: 0;
      font-size: 30px;
    }
  }
}
