$light-pink: #FFCCD1;
$gold: #b59646;

.massage-page {
  background-color: $light-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  h1 {
    color: $gold;
    font-size: 50px;
    margin-bottom: 50px;
  }

  img {
    height: auto;
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .massage-page {
    padding: 30px;

    h1 {
      font-size: 40px;
    }

    img {
      width: 85%;
    }
  }
}

@media screen and (max-width: 480px) {
  .massage-page {
    padding: 20px;
    height: 100vh;

    h1 {
      font-size: 30px;
      margin-bottom: 15px;
    }

    img {
      width: 100%;
    }
  }
}
