.cards {
  padding: 50px;

  .cards__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    background-color: rgba(255, 204, 209, 0.6);
    box-shadow: 1px 1px 10px #b59646;
    margin-bottom: 30px;

    .cards__item__info {
      padding: 20px 30px 30px;
      text-align: center;
    }

    .cards__item__header {
      color: #7E001B;
      font-size: 30px;

      h3 {
        margin-bottom: 50px;
      }
    }

    .cards__item__text {
      color: #7E001B;
      font-size: 18px;
      line-height: 24px;

      p {
        margin-top: 10px;
        font-size: 24px;
      }
    }
  }
}





/*
@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
} */
