// Color Variables
$dark-pink: #7E001B;
$light-pink: #FFCCD1;
$gold: #b59646;

.contact-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 50px;
  gap: 100px;

  .contact-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: $dark-pink;
    text-align: justify;

    p {
      margin-bottom: 20px;
      font-size: 26px;
    }
  }

  h1 {
    margin-bottom: 20px;
    font-size: 50px;
  }
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
  color: darken($dark-pink, 10%);

  label {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  input, textarea, select {
    width: 50%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    outline: none;
    transition: border 0.3s ease-in-out;

    &:focus {
      border: 2px solid $gold;
    }
  }

  textarea {
    width: 70%;
    max-height: 100px;
    min-height: 100px;
  }

  #subject {
    font-size: 14px;
  }

  select {
    height: 35px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    color: $dark-pink;
  }

  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: $dark-pink;
    color: white;
    border: none;
    height: 50px;
    width: 20%;
    align-self: flex-start;
    font-size: 16px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: $light-pink;
    }
  }
}
