* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-pink: #7E001B;
$light-pink: #FFCCD1;

.navbar {
  background-color: $dark-pink;
  box-shadow: 0 8px 20px 2px rgba(126, 0, 27, 0.2);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100vw;
  margin: 0;
  padding: 0;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0;
    margin: 0;

    #logo {
      width: 200px;
      height: auto;
      cursor: pointer;
      margin-left: 20px;
    }

    .menu-icon {
      display: none;
    }
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;

  .nav-item {
    height: 80px;

    .nav-links {
      color: $light-pink;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0.5rem 1rem;
      height: 100%;
      font-size: 24px;

      &:hover {
        border-bottom: 4px solid $light-pink;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.dropdown-menu {
  background-color: $dark-pink;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  li {
    background-color: $dark-pink;
    cursor: pointer;

    &:hover {
      background-color: $light-pink;
    }

    .dropdown-link {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: $light-pink;
      padding: 16px;
      font-size: 20px;

      &:hover {
        color: $primary-color;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.fa-bars,
.fa-times {
  color: $light-pink;
}

.fa-caret-down {
  font-size: 20px;
  margin-left: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;

    &.active {
      background: $dark-pink;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;

    &:hover {
      background-color: $light-pink;
      color: white;
      border-radius: 0;
    }
  }

  #logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    width: 150px;
    height: auto;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
